<img src="https://raw.githubusercontent.com/andre-marcos-perez/ebac-course-utils/main/media/logo/newebac_logo_black_half.png" alt="ebac-logo">

---

# **Módulo 02** | Python: Estruturas de Dados
Caderno de **Aula**<br>
Professor [André Perez](https://www.linkedin.com/in/andremarcosperez/)

---

# **Tópicos**

<ol type="1">
  <li>Listas;</li>
  <li>Conjuntos;</li>
  <li>Dicionários.</li>
</ol>

---

# **Aulas**

## 1\. Listas

### **1.1. Motivação**

O aplicativo do seu banco registra toda a sua movimentação financeira. O final do dia, o app consolida o saldo final para que você possa controlar sua vida financeira.

In [15]:
dia_11_saldo_inicial = 1000

In [16]:
dia_11_transacao_1 = 243
dia_11_transacao_2 = -798.58
dia_11_transacao_3 = 427.12
dia_11_transacao_4 = -10.91

In [17]:
dia_11_saldo_final = dia_11_saldo_inicial + dia_11_transacao_1 + dia_11_transacao_2 + dia_11_transacao_3 + dia_11_transacao_4

In [18]:
print(dia_11_saldo_final)

860.63

Será que exista uma forma melhor de armazenar as transações diárias?

### **1.2. Definição**

Armazenam sequências mutáveis e ordenadas de valores. São do tipo `list`:

In [19]:
usuario_web = ['João Pedro', 'braziliandeveloper1', 'coreldraw123', 'dev.cobos@outlook.pt']

print(usuario_web)
print(type(usuario_web))

['João Pedro', 'braziliandeveloper1', 'coreldraw123', 'dev.cobos@outlook.pt']
<class 'list'>

In [20]:
idade = 22
saldo_em_conta = 723.15
usuario_loggedin = True

usuario_web = ['João Pedro', idade, 'braziliandeveloper1', 'coreldraw123', 'dev.cobos@outlook.pt', saldo_em_conta, usuario_loggedin]

print(usuario_web)
print(type(usuario_web))

['João Pedro', 22, 'braziliandeveloper1', 'coreldraw123', 'dev.cobos@outlook.pt', 723.15, True]
<class 'list'>

### **1.3. Operações**

As operações da estrutura do tipo *list* são:


*   `+` (concatenação).

**Exemplo**: Fabricantes de *hardware* mobile

In [21]:
fabricantes_mobile_china = ['xiaomi', 'huawei']
fabricantes_mobile_eua = ['apple', 'motorola']
fabricantes_mobile = fabricantes_mobile_china + fabricantes_mobile_eua

print(fabricantes_mobile_china)
print(fabricantes_mobile_eua)
print(fabricantes_mobile)

['xiaomi', 'huawei']
['apple', 'motorola']
['xiaomi', 'huawei', 'apple', 'motorola']

Outra operação muito utilizada é a de fatiamento (*slicing*), semelhante ao de *strings*:

Fatiamento fixo:

In [22]:
print(f'0: {fabricantes_mobile[0]}')
print(f'-1: {fabricantes_mobile[-1]}')

0: xiaomi
-1: motorola

Fatiamento por intervalo:

In [23]:
fabricantes_mobile_china = fabricantes_mobile[0:2]
fabricantes_mobile_eua = fabricantes_mobile[2:len(fabricantes_mobile)]

print(f'HARDWARE CHINA: ' + str(fabricantes_mobile_china))
print(f'HARDWARE NORTE-AMERICANA: ' + str(fabricantes_mobile_eua))

HARDWARE CHINA: ['xiaomi', 'huawei']
HARDWARE NORTE-AMERICANA: ['apple', 'motorola']

Podemos adicionar elementos a uma posição específica da lista:

In [24]:
print(fabricantes_mobile)

['xiaomi', 'huawei', 'apple', 'motorola']

In [25]:
fabricantes_mobile[2] = 'nokia' # SUBSTITUI APPLE[2] PARA "NOKIA"
print(fabricantes_mobile)

['xiaomi', 'huawei', 'nokia', 'motorola']

### **1.4. Métodos**

São métodos nativos do Python que nos ajudam a trabalhar no dia a dia com listas.

In [26]:
juros = [0.05, 0.07, 0.02, 0.04, 0.08]
print(juros)

[0.05, 0.07, 0.02, 0.04, 0.08]

In [27]:
# INSERIR UM ELEMENTO SEM SUBSTITUIR: list.insert(index, val)
juros.insert(0, 0.10)
print(juros)

[0.1, 0.05, 0.07, 0.02, 0.04, 0.08]

In [28]:
# INSERIR UM ELEMENTO NO FIM DA LISTA: list.append(val)
juros.append(0.09)
print(juros)

[0.1, 0.05, 0.07, 0.02, 0.04, 0.08, 0.09]

In [29]:
# REMOVER UM ELEMENTO PELO VALOR: list.remove(val)
juros.remove(0.09)
print(juros)

[0.1, 0.05, 0.07, 0.02, 0.04, 0.08]

In [30]:
# REMOVER UM ELEMENTO PELO ÍNDICE: list.pop(val)
remove_juros = juros.pop(4)
print(remove_juros)

0.04

In [31]:
print(juros)

[0.1, 0.05, 0.07, 0.02, 0.08]

### **1.5. Conversão**

Podemos converter alguns tipos de variáveis em listas, como *strings*.

In [32]:
email = 'dev.cobos@outlook.pt'
convert_email = list(email)

print(email)
print(convert_email)

dev.cobos@outlook.pt
['d', 'e', 'v', '.', 'c', 'o', 'b', 'o', 's', '@', 'o', 'u', 't', 'l', 'o', 'o', 'k', '.', 'p', 't']

### **1.6. Revisitando a motivação**

In [33]:
dia_11_saldo_inicial = 1000

In [34]:
dia_11_transacoes = []

dia_11_transacoes.append(243)
dia_11_transacoes.append(-798.58)
dia_11_transacoes.append(427.12)
dia_11_transacoes.append(-10.91)

print(dia_11_transacoes)

[243, -798.58, 427.12, -10.91]

In [35]:
dia_11_saldo_final = dia_11_saldo_inicial + dia_11_transacoes[0] + dia_11_transacoes[1] + dia_11_transacoes[2] + dia_11_transacoes[3]
print(dia_11_saldo_final)

860.63

## 2\. Conjuntos

### **2.1. Motivação**

Você trabalha como analista de dados de mídias sociais e precisa descobrir todas as *hashtags* que alcançaram o *top trending* do Twitter durante uma semana. Você já conseguiu as *hashtags* por dia da semana:

In [36]:
hashtags_seg = ['#belatriz', '#caroline', '#bbb']
hashtags_ter = ['#tamires', '#vitoria', '#jeniffer']
hashtags_qua = ['#grazielly', '#gabrielly', '#bbb']
hashtags_qui = ['#rafaela', '#fernanda', '#patricia']
hashtags_sex = ['#juliana', '#bbb', '#leticia']

Um simples concateção de listas fará com que a *hashtag* #bbb, entre outras, apareça mais de uma vez.

In [37]:
hashtags_semana = (hashtags_seg + hashtags_ter + hashtags_qua + hashtags_qui + hashtags_sex)
print(hashtags_semana)

['#belatriz', '#caroline', '#bbb', '#tamires', '#vitoria', '#jeniffer', '#grazielly', '#gabrielly', '#bbb', '#rafaela', '#fernanda', '#patricia', '#juliana', '#bbb', '#leticia']

In [38]:
# POSSO DEFINIR O LIST ANTES DO SET, EVITANDO ITENS DUPLICADOS DENTRO DA LISTA: list(set(variavel))

hashtags_semana = list(set(hashtags_seg + hashtags_ter + hashtags_qua + hashtags_qui + hashtags_sex))
print(hashtags_semana)

['#fernanda', '#jeniffer', '#vitoria', '#belatriz', '#patricia', '#bbb', '#leticia', '#tamires', '#gabrielly', '#rafaela', '#caroline', '#grazielly', '#juliana']

### **2.2. Definição**

Armazenam sequências imutáveis e desordenadas valores, sem repetição. São do tipo `set`:

In [39]:
frutas = {'banana', 'abacate', 'uva', 'uva'}
print(frutas)
print(type(frutas))

{'banana', 'uva', 'abacate'}
<class 'set'>

### **2.3. Operações**

As operações da estrutura do tipo *set* são:


*   `-` (diferença).

**Exemplo**: Países da europa.

In [40]:
norte_europa = {'reino unido', 'suecia', 'russia', 'noruega', 'dinamarca'}
escandinavia = {'noruega', 'dinamarca', 'suecia'}

In [41]:
norte_europa_nao_escandivano = norte_europa - escandinavia
print(norte_europa_nao_escandivano)

{'reino unido', 'russia'}

In [42]:
escandivano_nao_norte_europa = escandinavia - norte_europa
print(escandivano_nao_norte_europa)

set()

### **2.4. Métodos**

São métodos nativos do Python que nos ajudam a trabalhar no dia a dia com conjuntos.

In [43]:
cursos = {'Exatas', 'Humanas', 'Biológicas'}
print(cursos)

{'Biológicas', 'Exatas', 'Humanas'}

In [44]:
# INSERIR UM ELEMENTO NO CONJUNTO: set.add(val)
cursos.add('Saúde')
print(cursos)

{'Biológicas', 'Saúde', 'Exatas', 'Humanas'}

In [45]:
# REMOVER UM ELEMENTO NO CONJUNTO: set.remove(val)
cursos.remove('Saúde')
print(cursos)

{'Biológicas', 'Exatas', 'Humanas'}

### **2.5. Conversão**

Podemos converter conjuntos para lista e vice e versa.

In [46]:
times_paulistas = {'São Paulo', 'Corinthians', 'Santos', 'Palmeiras'}
print(list(times_paulistas)) # LISTA PARA SER ALTERADA
print(set(times_paulistas)) # TUPLA NÃO PODE SER ALTERADA

['Santos', 'São Paulo', 'Corinthians', 'Palmeiras']
{'Santos', 'São Paulo', 'Corinthians', 'Palmeiras'}

## 3\. Dicionários

### **3.1. Motivação**

Para se conectar a uma rede wi-fi, você precisa de duas informações: o nome da rede e a senha de acesso. Quando você vai acessar uma nova rede, você encontra uma lista de redes disponíveis:

In [47]:
wifi_disponiveis = []
rede = {'nome': 'MARIA JOSÉ',
        'senha': 'pokasideias'}

wifi_disponiveis.append(rede)
print(f'WI-FI DISPONÍVEL: {wifi_disponiveis}')

WI-FI DISPONÍVEL: [{'nome': 'MARIA JOSÉ', 'senha': 'pokasideias'}]

Você consegue identificar quais são os nome de redes e suas respectivas senhas? Talvez uma `list` não seja a melhor opção para armazenar esse tipo de dado.

### **3.2. Definição**

Armazenam sequências no formato chave-valor. São do tipo `dict`.

In [48]:
brasil = {'capital': 'Brasília', 'idioma': 'Português', 'população': 2309}
print(brasil)
print(type(brasil))

{'capital': 'Brasília', 'idioma': 'Português', 'população': 2309}
<class 'dict'>

Não é permite chaves duplicadas.

In [49]:
carro = {
    'marca': 'Volkswagen',
    'modelo': 'Tiguan',
    'ano': 2022,
    'ano': 2021
}

print(carro)

{'marca': 'Volkswagen', 'modelo': 'Tiguan', 'ano': 2021}

Podemos criar dicionários compostos:

In [50]:
cadastro = {
    'joao': {
        'nome': 'Joao Carlos',
        'ano_nascimento': 1959,
        'pais': {
            'pai': {
                'nome': 'Joao Baptista',
                'ano_nascimento': 1930,
            },
            'mae': {
                'nome': 'Maria Cobos',
                'ano_nascimento': 1941,
            },
            'irmao':  {
                'nome': 'Michel Baptista Cobos',
                'ano_nascimento': 1977,
            },
        }
    }
}


cadastro = cadastro['joao']['pais']['irmao']['ano_nascimento'] # CONSULTAS ATRAVÉS DE CHAVE

In [51]:
print(f'ANO DE NASCIMENTO IRMÃO(A): {cadastro}')

ANO DE NASCIMENTO IRMÃO(A): 1977

### **3.3. Operações**

In [52]:
credito = {'063.573.798-26': 540, '278.836.058-34': 889}

Elementos são acessados pela sua chave.

In [53]:
score_1 = credito['063.573.798-26']
score_2 = credito['278.836.058-34']

print(f'CPF 1: {score_1}')
print(f'CPF 2: {score_2}')

CPF 1: 540
CPF 2: 889

Elementos são atualizados pela sua chave.

In [54]:
credito['063.573.798-26'] = 990
print(credito)

{'063.573.798-26': 990, '278.836.058-34': 889}

Para adicionar um novo elemento, basta criar um novo elemento chave-valor:

In [55]:
credito['349.349.369-84'] = 1000
print(credito)

{'063.573.798-26': 990, '278.836.058-34': 889, '349.349.369-84': 1000}

### **3.4. Métodos**

São métodos nativos do Python que nos ajudam a trabalhar no dia a dia com dicionários.

In [56]:
artigo = dict(
    titulo = 'Modulo 02 | Python: Estrutura de dados',
    corpo = 'Topicos, Aulas, Listas, Conjuntos, Dicionários, ...',
    total_caracteres = 1530
)

In [57]:
# ADICIONAR / ATUALIZAR UM ELEMENTO PELO CHAVE-VALOR: dict.update(dict)
artigo.update({'total_caracteres': 1701})
print(artigo)

{'titulo': 'Modulo 02 | Python: Estrutura de dados', 'corpo': 'Topicos, Aulas, Listas, Conjuntos, Dicionários, ...', 'total_caracteres': 1701}

In [58]:
# REMOVENDO UM ELEMENTO PELO CHAVE: dict.pop(key)
total_caracteres = artigo.pop('total_caracteres')
print(artigo)

{'titulo': 'Modulo 02 | Python: Estrutura de dados', 'corpo': 'Topicos, Aulas, Listas, Conjuntos, Dicionários, ...'}

### **3.5. Conversão**

Podemos converter as chaves e os items de um dicionário em uma lista.

In [59]:
artigo = dict(
    titulo = 'Modulo 02 | Python: Estrutura de dados',
    corpo = 'Topicos, Aulas, Listas, Conjuntos, Dicionários, ...',
    total_caracteres = 1530
)

In [60]:
chaves = list(artigo.keys()) # EXTRAINDO AS CHAVES: "titulo", "corpo"

print(chaves)
print(type(chaves))

['titulo', 'corpo', 'total_caracteres']
<class 'list'>

In [61]:
valores = list(artigo.values()) # EXTRAINDO TUDO DENTRO DA CHAVE:

print(valores)
print(type(valores))

['Modulo 02 | Python: Estrutura de dados', 'Topicos, Aulas, Listas, Conjuntos, Dicionários, ...', 1530]
<class 'list'>

### **3.6. Revisitando a motivação**

In [62]:
wifi_disponiveis = []

In [63]:
rede = {'nome': 'rede1', 'senha': 'cnx_cnx'}
wifi_disponiveis.append(rede)

In [64]:
rede = {'nome': 'uai-fi', 'senha': 'r3d3'}
wifi_disponiveis.append(rede)

In [65]:
print(wifi_disponiveis)

[{'nome': 'rede1', 'senha': 'cnx_cnx'}, {'nome': 'uai-fi', 'senha': 'r3d3'}]